* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat, sans-serif;
}

#style_p {
	color: #7c9ab7;
	font-weight: bold;
	text-decoration: none;
}
p {
	margin: 10px 0;
}
form {
	display: flex;
	flex-direction: column;
	width: 400px;
}

/*input {*/
/*	margin: 10px 0;*/
/*	padding: 10px;*/
/*	border: unset;*/
/*	border-bottom: 2px solid #e3e3e3;*/
/*	outline: none;*/
/*}*/

/*button {*/
/*	padding: 10px;*/
/*	background: #e3e3e3;*/
/*	border: unset;*/
/*	cursor: pointer;*/
/*}*/

.msg {
	border: 2px solid #ffa908;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
.logout {
	text-align: center;
	color: #b7625c;
}


.containerDiv {
	border: 1px solid #3697f6;
	width: 100%;
	display:table;
}
.rowDivHeader {
	border: 1px solid #668db6;
	background-color: #336799;
	color: white;
	font-weight: bold; display:table-row
}
.rowDiv {
	border: 1px solid #668db6;
	border-top: 2px solid white;
	background-color: #cee6fe;
	display:table-row;
}
.cellDivHeader {
	border-right: 1px solid white;
	display: table-cell;
	width:12%;
	padding: 1px;
	text-align: center;
}
.cellDiv {
	border-right: 2px solid white;
	display: table-cell;
	width:10%;
	padding-right: 4px;
	text-align: center;
	border-bottom: none;
}

.lastCell {
	border-right: none;
}
